<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue 1 - Introducción</title>
  <link rel="stylesheet" href="identidad.css">
</head>
<body>

<div id="app">
  <h1>{{titulo}}</h1>
  <ul>
    <li v-for="fruta of frutas">{{fruta}}<!-- biding --></li>
    <!-- Fruta va a ser itarativo en el array de frutas -->
  </ul>
  <ul>
    <li v-for="fruta of otrasFrutas">{{fruta.nombre}} quedan {{fruta.cantidad}}
    <span v-if="fruta.cantidad === 0"> - se acabó</span>

    </li>
  </ul>
</div>
<!-- Interpolación -->

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="1.js"></script>  
</body>
</html>