<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue 05 - Propiedades Computadas</title>
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="identidad.css">
</head>
<body>

<div id="app" class="container mt-5">
  <h1>{{titulo}}</h1>
  <h3>Texto: {{mensaje}}</h3>
  <h3>Texto Invertido: {{invertido}}</h3>
  <div class="form-group">
    <input type="text" class="form-control mb-3" v-model="mensaje">
    <button class="btn btn-primary" v-if="cont < 100" @click="cont+=10">Aumentar</button>
    <button class="btn btn-danger" v-if="cont > 0" @click="cont-=10">Decrementar</button>
  </div>
  <h4>Contador: {{cont}}</h4>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" :style="{'width': cont+'%'}" role="progressbar" aria-valuenow="{{cont}}" aria-valuemin="0" aria-valuemax="100" :class="color">{{cont}}%</div>
  </div>
</div>
<!-- Interpolación -->

<!-- development version, includes helpful console warnings -->
<script src="./node_modules/vue/dist/vue.min.js"></script>
<script src="5.js"></script>  
</body>
</html>