@charset "UTF-8";
    :root{
      --blue: #4cc7bf;
      --gray: #53606d;
      --yellow: #c2ed62;
      --red: #f86868;
      --darkred: #c04b55;
      --black: #000;
      --white: #fff;
      --font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      --breakpoint-sm: 576px;
      --breakpoint-md: 768px;
      --breakpoint-lg: 992px;
      --breakpoint-xl: 1200px;
    }
    html, body{
        scroll-behavior: smooth; 
        overflow-x:hidden;
        list-style-position: inside;
        font-family: var(--font);
    }